spring:
  datasource:
    username: root
    password: leniy2013
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/youddit
    driver-class-name: com.mysql.cj.jdbc.Driver
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    virtual-host: youddit
    username: guest
    password: guest

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
