<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourzhang.youddit.mapper.UserMapper">

    <select id="findFollowingList"
            resultType="com.fourzhang.youddit.response.NameWithImageResponse">
        select username, avatar from user where id in
            (select user2_id from follow where user1_id = #{id})
    </select>

    <select id="findFollowersList"
            resultType="com.fourzhang.youddit.response.NameWithImageResponse">
        select username, avatar from user where id in
                                 (select user1_id from follow where user2_id = #{id})
    </select>
</mapper>
